#root {
  margin: 20px auto 0;
  width: 200px;
}

.btn_numbers {
  margin: 20px;
  border: 2px solid #d6e9c6;
  background: #9da0a4;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  outline: none;
}
